:root {
    --chain-icon-margin: 16px;
}

.connect-button {
    padding: 8px 20px;
    border-radius: 30px;
}

.connect-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0px!important;
    width: fit-content!important;

    padding: 0 15px;
    border-radius: 20px;
    height: 40px;
}

.connect-button-wrapper {
    background-color: var(--chakra-colors-brand-900);
    color: var(--chakra-colors-brand-500);
}

.connect-button-wrapper:hover {
    background-color: var(--chakra-colors-brand-500);
    color: var(--chakra-colors-brand-900);
}

.connect-button-wrapper.connected {
    background-color: white;
    color: var(--chakra-colors-brand-900);
    border-color: var(--chakra-colors-brand-900);
    border-width: 1px;
}

.connect-button-wrapper.connected:hover {
    background-color: var(--chakra-colors-brand-900);
    color: white;
    border-color: var(--chakra-colors-brand-900);
    border-width: 1px;
}

.connect-button-wrapper.unsupported {
    background-color: var(--chakra-colors-brand-1200);
    color: white;

    border-color: var(--chakra-colors-brand-1200);
}

.connect-button-wrapper.unsupported:hover {
    background-color: white;
    color: var(--chakra-colors-brand-1200);
    border-color: var(--chakra-colors-brand-1200);
}